body {
  background-color: rgb(248, 249, 250);
}

.form-switch.form-switch-md {
  padding-left: 4.5em;
  height: 2.5em;
}

.form-switch.form-switch-md .form-check-input {
  margin-left: -4.5em;
  height: 2em;
  width: 4em;
}

.form-switch.form-switch-md .form-check-label {
  padding-top: 0.5em;
}

.form-switch.form-switch-lg {
  padding-left: 8.5em;
  height: 4.5em;
}

.form-switch.form-switch-lg .form-check-input {
  margin-left: -8.5em;
  height: 4em;
  width: 8em;
}

.form-switch.form-switch-lg .form-check-label {
  padding-top: 1.5em;
}

.bg-resgate {
  background: linear-gradient(90deg, #ed8445, #fe3431);
}

.text-resgate {
  background: linear-gradient(90deg, #ed8445, #fe3431);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-resgate {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(90deg, #ed8445, #fe3431);
    border-radius: inherit;
  }
  &:after {
    content: "";
    position: absolute;
    inset: 0.25rem;
    z-index: -1;
    background: white;
    border-radius: inherit;
  }
}
